@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("/font/Montserrat-Bold.woff2") format("woff2"), url("/font/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("Montserrat-ExtraBold.woff2") format("woff2"), url("Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("Montserrat-SemiBold.woff2") format("woff2"), url("Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.custom-select .custom-select__list .custom-select__item, .custom-select .custom-select__list, .custom-select .custom-select__button, .contact-form .contact-form__submit-btn, .contact-form .contact-form__input {
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 5px;
}
.custom-select .custom-select__list ._grean.custom-select__item, .custom-select ._grean.custom-select__list, .custom-select ._grean.custom-select__button, .contact-form ._grean.contact-form__submit-btn, .contact-form ._grean.contact-form__input {
  background-color: #428A60;
  color: #FFFFFF;
}
.custom-select .custom-select__list ._minor.custom-select__item, .custom-select ._minor.custom-select__list, .custom-select ._minor.custom-select__button, .contact-form ._minor.contact-form__submit-btn, .contact-form ._minor.contact-form__input {
  background-color: #F8F8F8;
  color: #212121;
}
.custom-select .custom-select__list ._minor._border.custom-select__item, .custom-select ._minor._border.custom-select__list, .custom-select ._minor._border.custom-select__button, .contact-form ._minor._border.contact-form__submit-btn, .contact-form ._minor._border.contact-form__input {
  border: 1px solid #E4E4E4;
}

.contact-form .contact-form__label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  color: #212121;
}
.contact-form .contact-form__label ._grean {
  color: #428A60;
}

.contact-form .contact-form__input {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
}
.contact-form .contact-form__input::-webkit-input-placeholder {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
}
.contact-form .contact-form__input::-moz-placeholder {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
}
.contact-form .contact-form__input:-ms-input-placeholder {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
}
.contact-form .contact-form__input::-ms-input-placeholder {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
}
.contact-form .contact-form__input::placeholder {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
}

.contact-form .contact-form__submit-btn {
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 600;
}

.select-payment .select-payment__icon, .contact-form .contact-form__submit-btn span, .prod-info .prod-info__security .prod-info__security-icon {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
}

/* Форма */
.prod-form {
  min-height: 650px;
  background-color: #E4E4E4;
}

.prod-form__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 75px 80px;
}
@media (max-width: 992px) {
  .prod-form__container {
    padding: 75px 40px;
  }
}
@media (max-width: 576px) {
  .prod-form__container {
    padding: 60px 0;
  }
}

.prod-form__row {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
}
.prod-form__row .prod-form__prod-banner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.prod-form__row .prod-form__prod-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding-bottom: 60px;
}
@media (max-width: 756px) {
  .prod-form__row {
    height: auto;
    display: block;
  }
}
@media (max-width: 576px) {
  .prod-form__row .prod-form__prod-info {
    padding-bottom: 0;
  }
}

/* Баннер продукта */
.prod-banner {
  height: 100%;
  width: 100%;
  position: relative;
}
.prod-banner .prod-banner__brand,
.prod-banner .prod-banner__additionally {
  display: inline-block;
  position: absolute;
  left: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}
.prod-banner .prod-banner__brand {
  top: 40px;
}
.prod-banner .prod-banner__additionally {
  bottom: 40px;
}
.prod-banner picture {
  display: block;
  width: 100%;
  height: 100%;
}
.prod-banner picture img {
  display: block;
  height: 100%;
  width: 100%;
}
@media (max-width: 756px) {
  .prod-banner .prod-banner__brand,
.prod-banner .prod-banner__additionally {
    left: 20px;
  }
}
@media (max-width: 576px) {
  .prod-banner {
    padding-top: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .prod-banner .prod-banner__brand {
    color: #212121;
  }
  .prod-banner .prod-banner__additionally {
    left: auto;
    bottom: auto;
    top: 40px;
    right: 20px;
    color: #212121;
  }
  .prod-banner picture {
    width: 217px;
    height: 202px;
    margin: 0 auto;
  }
}

/* Информационная часть */
.prod-info {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prod-info .prod-info__title {
  width: 100%;
  height: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #212121;
  background-color: #F8F8F8;
}
.prod-info .prod-info__contact-form {
  width: 320px;
  margin-top: 32px;
}
.prod-info .prod-info__security {
  width: 100%;
  height: 40px;
  margin-top: 28px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F8F8F8;
}
.prod-info .prod-info__security .prod-info__security-text {
  font-size: 14px;
  font-weight: bold;
  color: #212121;
}
.prod-info .prod-info__security .prod-info__security-icon {
  background-image: url("/img/lock.svg");
  height: 15px;
  width: 12.5px;
  margin: 0 20px;
}
@media (max-width: 576px) {
  .prod-info .prod-info__title {
    height: 78px;
    width: 280px;
    margin-top: 37px;
    background-color: transparent;
  }
  .prod-info .prod-info__title br {
    display: none;
  }
  .prod-info .prod-info__contact-form {
    width: 280px;
    margin-top: 28px;
  }
  .prod-info .prod-info__security {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Форма связи */
.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-form .contact-form__label {
  width: 100%;
  margin-top: 20px;
}
.contact-form .contact-form__input {
  margin-top: 10px;
}
.contact-form .contact-form__input:nth-child(4) {
  display: inline-block;
  width: 184px;
}
.contact-form .contact-form__custom-select {
  display: inline-block;
  max-width: 116px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}
.contact-form .contact-form__submit-btn {
  margin-top: 32px;
}
.contact-form .contact-form__submit-btn span {
  background-image: url("/img/arrow.svg");
  width: 17px;
  height: 12px;
  margin-left: 10px;
}
@media (max-width: 576px) {
  .contact-form .contact-form__input {
    padding: 0 10px;
  }
  .contact-form .contact-form__input::-webkit-input-placeholder {
    padding: 0 10px;
  }
  .contact-form .contact-form__input::-moz-placeholder {
    padding: 0 10px;
  }
  .contact-form .contact-form__input:-ms-input-placeholder {
    padding: 0 10px;
  }
  .contact-form .contact-form__input::-ms-input-placeholder {
    padding: 0 10px;
  }
  .contact-form .contact-form__input::placeholder {
    padding: 0 10px;
  }
  .contact-form .contact-form__input:nth-child(4) {
    width: 174px;
  }
  .contact-form .contact-form__custom-select {
    max-width: 97px;
  }
  .contact-form .contact-form__submit-btn {
    margin-top: 28px;
  }
}

/* Свой селектор */
.custom-select {
  position: relative;
  width: 100%;
}
.custom-select .custom-select__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.custom-select .custom-select__button:focus, .custom-select .custom-select__button._active {
  outline: none;
}
.custom-select .custom-select__button._active::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.custom-select .custom-select__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 6px;
  width: 10px;
  background-image: url("/img/arrow_dropdown.svg");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}
.custom-select .custom-select__list {
  height: auto;
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  left: 0;
  top: 55px;
  overflow: hidden;
  z-index: 1;
}
.custom-select .custom-select__list._visible {
  display: block;
}
.custom-select .custom-select__list .custom-select__item {
  margin: 0;
  border-radius: 0;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.custom-select .custom-select__list .custom-select__item:not(:first-child) {
  border-top: 1px solid #E4E4E4;
}
.custom-select .custom-select__list .custom-select__item:hover {
  background: #E4E4E4;
}
.custom-select .custom-select__select {
  display: none;
}
@media (max-width: 576px) {
  .custom-select .custom-select__button {
    padding: 0 10px;
  }
  .custom-select .custom-select__button::after {
    right: 10px;
  }
  .custom-select .custom-select__list .custom-select__item {
    padding: 0 10px;
  }
}

.select-payment .select-payment__icon {
  height: 18px;
  width: 26px;
  margin-left: 10px;
}
.select-payment .select-payment__icon._ru {
  background-image: url("/img/ru.png");
}
.select-payment .select-payment__icon._usd {
  background-image: url("/img/usd.svg");
  margin-left: 5px;
}

.prod-banner .prod-banner__brand {
  top: 42px;
}
.prod-banner .prod-banner__additionally {
  bottom: 36px;
}
@media (max-width: 576px) {
  .prod-banner .prod-banner__additionally {
    top: 42px;
  }
  .prod-banner picture {
    margin: 0;
    margin-right: -15px;
  }
}

.prod-info .prod-info__title {
  margin-left: -1px;
  line-height: 1.3;
  letter-spacing: -0.3px;
}
.prod-info .prod-info__contact-form {
  margin-top: 33px;
  margin-left: -7px;
}
@media (max-width: 576px) {
  .prod-info .prod-info__contact-form {
    margin-top: 8px;
    margin-left: 0;
  }
}

.contact-form .contact-form__label {
  margin-top: 21px;
  letter-spacing: 0.5px;
}
.contact-form .contact-form__label:nth-child(3) {
  margin-top: 22px;
}
.contact-form .contact-form__input {
  letter-spacing: 0.3px;
}
.contact-form .contact-form__submit-btn {
  margin-top: 38px;
  letter-spacing: 0.7px;
}
@media (max-width: 576px) {
  .contact-form .contact-form__label:nth-child(3) {
    margin-top: 21px;
  }
  .contact-form .contact-form__input {
    margin-top: 11px;
  }
  .contact-form .contact-form__submit-btn {
    margin-top: 28px;
  }
}

@media (max-width: 576px) {
  .custom-select .custom-select__button::after {
    right: 8px;
  }
}

@media (max-width: 576px) {
  .select-payment .select-payment__icon {
    margin-left: 12px;
  }
}