// Баннер продукта
.prod-banner {

    .prod-banner__brand {

        // pixel perfect
        top: 42px;
    };
    .prod-banner__additionally {

        // pixel perfect
        bottom: 36px;
    };
    @media (max-width: 576px) {
        .prod-banner__additionally {

            // pixel perfect
            top: 42px;
        };
        picture {

            // pixel perfect
            margin: 0;
            margin-right: -15px;
        };
    };
}

// Информационная часть
.prod-info {

    .prod-info__title {

        // pixel perfect
        margin-left: -1px;
        line-height: 1.3;
        letter-spacing: -.3px;
    };
    .prod-info__contact-form {

        // pixel perfect
        margin-top: 33px;
        margin-left: -7px;
    };

    @media (max-width: 576px) {

        .prod-info__contact-form {

            // pixel perfect
            margin-top: 8px;
            margin-left: 0;
        };
    };
};

// Форма связи
.contact-form {

    .contact-form__label {

        // pixel perfect
        margin-top: 21px;
        letter-spacing: .5px;
        &:nth-child(3) {
            margin-top: 22px;
        };
    };
    .contact-form__input {

        // pixel perfect
        letter-spacing: .3px;

    };

    .contact-form__submit-btn {

        // pixel perfect
        margin-top: 38px;
        letter-spacing: 0.7px;
    };
    
    @media (max-width: 576px) {

        .contact-form__label {
            // pixel perfect
            &:nth-child(3) {
                margin-top: 21px;
            };
        };
        .contact-form__input {

            // pixel perfect
            margin-top: 11px;
        };
        .contact-form__submit-btn {    
            margin-top: 28px;
        };
    };
}

// Свой селектор
.custom-select {
    
    @media (max-width: 576px) {

        .custom-select__button {
            
            &::after {

                // pixel perfect
                right: 8px;
            };
        };
    };
}
.select-payment {
    
    @media (max-width: 576px) {
        
        .select-payment__icon {

            // pixel perfect
            margin-left: 12px;
        };
    };
};