// font
@import "font.scss";

// color
$main-color: #428A60;
$strong-color: #212121;
$background-color: #E4E4E4;
$second-color: #FFFFFF;
$minor-color: #F8F8F8;

// Шаблоны
%obj-form {
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 5px;

    &._grean {
        background-color: $main-color;
        color: $second-color;
    };

    &._minor {
        background-color: $minor-color;
        color: $strong-color;

        &._border {
            border: 1px solid $background-color;
        };
    };
};
%lable {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    color: $strong-color;

    ._grean {
        color: $main-color;
    };
};
%input {
    @extend %obj-form;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
    
    &::placeholder {
        padding: 20px;
        font-size: 14px;
        font-weight: 600;
    };
};
%btn {
    @extend %obj-form;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
}
%img {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Montserrat", sans-serif;
};
h1 {
    margin: 0;
}

/* Форма */
.prod-form {
    min-height: 650px;
    background-color: $background-color;
}
.prod-form__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 75px 80px;

    @media (max-width: 992px) {
        padding: 75px 40px;
    };
    @media (max-width: 576px) {
        padding: 60px 0;
    };
};
.prod-form__row {
    height: 500px;
    display: flex;
    background-color: $second-color;

    .prod-form__prod-banner {
        flex: 1 1 50%;
    };
    .prod-form__prod-info {
        flex: 1 1 50%;
        padding-bottom: 60px;
    };
    
    @media (max-width: 756px) {
        height: auto;
        display: block;
    };
    
    @media (max-width: 576px) {
        .prod-form__prod-info {
            padding-bottom: 0;
        };
    };
};

/* Баннер продукта */
.prod-banner {
    height: 100%;
    width: 100%;
    position: relative;

    .prod-banner__brand,
    .prod-banner__additionally {
        display: inline-block;
        position: absolute;
        left: 40px;
        font-size: 18px;
        font-weight: bold;
        color: $second-color;
    };
    .prod-banner__brand {
        top: 40px;
    };
    .prod-banner__additionally {
        bottom: 40px;
    };
    picture {
        display: block;
        width: 100%;
        height: 100%;
        img {
            display: block;
            height: 100%;
            width: 100%;
        };
    };
    
    @media (max-width: 756px) {
        .prod-banner__brand,
        .prod-banner__additionally {
            left: 20px;
        };
    };
    @media (max-width: 576px) {
        padding-top: 72px;
        display: flex;
        justify-content: center;

        .prod-banner__brand {
            color: $strong-color;
        };
        .prod-banner__additionally {
            left: auto;
            bottom: auto;
            top: 40px;
            right: 20px;
            color: $strong-color;
        };
        picture {
            width: 217px;
            height: 202px;
            margin: 0 auto;
        };
    };
}

/* Информационная часть */
.prod-info {
    height: 100%;
    width: 100%;
    background-color: $second-color;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    .prod-info__title {
        width: 100%;
        height: 136px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        font-weight: 800;
        color: $strong-color;
        background-color: $minor-color;
    };
    .prod-info__contact-form {
        width: 320px;
        margin-top: 32px;
    };
    .prod-info__security {
        width: 100%;
        height: 40px;
        margin-top: 28px;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: $minor-color;

        .prod-info__security-text {
            font-size: 14px;
            font-weight: bold;
            color: $strong-color;
        };
        .prod-info__security-icon {
            background-image: url("/img/lock.svg");
            @extend %img;
            height: 15px;
            width: 12.5px;
            margin: 0 20px;
        };
    };

    @media (max-width: 576px) {

        .prod-info__title {
            height: 78px;
            width: 280px;
            margin-top: 37px;
            background-color: transparent;

            br {
                display: none
            };
        };
        .prod-info__contact-form {
            width: 280px;
            margin-top: 28px;
        };
        .prod-info__security {
            display: flex;
        };
    };
};

/* Форма связи */
.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .contact-form__label {
        @extend %lable;
        width: 100%;
        margin-top: 20px;
    };
    .contact-form__input {
        @extend %input;
        margin-top: 10px;

        &:nth-child(4) {
            display: inline-block;
            width: 184px;
        };
    };
    .contact-form__custom-select {
        display: inline-block;
        max-width: 116px;
        align-self: end;
    };

    .contact-form__submit-btn {
        @extend %btn;

        margin-top: 32px;

        span {
            background-image: url("/img/arrow.svg");
            
            @extend %img;

            width: 17px;
            height: 12px;
            margin-left: 10px;
        };
    };
    
    @media (max-width: 576px) {

        .contact-form__input {
            padding: 0 10px;

            &::placeholder {
                padding: 0 10px;
            };
            &:nth-child(4) {
                width: 174px;
            };
        };
        .contact-form__custom-select {
            max-width: 97px;
        };
        .contact-form__submit-btn {    
            margin-top: 28px;
        };
    };
}

/* Свой селектор */
.custom-select {
	position: relative;
    width: 100%;

    .custom-select__button {
        @extend %obj-form;

        position: relative;
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;

        &:focus,
        &._active {
            outline: none;
        };

        &._active {
            &::after {
                transform: translateY(-50%) rotate(180deg);
            };
        };
        
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            
            height: 6px;
            width: 10px;
            background-image: url("/img/arrow_dropdown.svg");
            background-size: contain;
            background-repeat: no-repeat;
            
            pointer-events: none;
        };
    };
    .custom-select__list {
        @extend %obj-form;
        height: auto;
        
        display: none;

        margin: 0;
        padding: 0;
        list-style-type: none;
        position: absolute;
        left: 0;
        top: 55px;

        overflow: hidden;
        z-index: 1;

        &._visible {
            display: block;
        };

        .custom-select__item {
            @extend %obj-form;

            margin: 0;
            border-radius: 0;
            padding: 0 20px;
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 14px;
            cursor: pointer;

            &:not(:first-child) {
                border-top: 1px solid $background-color;
            }
            &:hover {
                background: $background-color;
            };
        };
    };
    .custom-select__select {
        display: none;
    };
    
    @media (max-width: 576px) {

        .custom-select__button {
            padding: 0 10px;
            
            &::after {
                right: 10px;
            };
        };
        .custom-select__list {
    
            .custom-select__item {
                padding: 0 10px;
            };
        };
    };
}
.select-payment {
    .select-payment__icon {
        @extend %img;

        height: 18px;
        width: 26px;
        margin-left: 10px;

        &._ru {
            background-image: url("/img/ru.png");
        };
        &._usd {
            background-image: url("/img/usd.svg");
            margin-left: 5px;
        };
    };
};

// pixel perfect
@import "pixel_perfect.scss";